/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "./scss/colors";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  transition: .3s linear !important;
  font-family: 'Roboto', sans-serif !important;
  // font-family: 'Anton', sans-serif;
}

body {
  overflow-x: hidden;
}

@mixin sm {
  @media screen and (max-width: 650px) {
    @content;
  }
}
@mixin lg {
  @media screen and (min-width: 650px) {
    @content;
  }
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  @include lg() {
    padding: 0px 40px;
  }
  padding-bottom: 0px;
  position: relative;
  header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #fff;
    z-index: 5;
    height: 40px;
    @include lg() {
      &.nav-open {
        padding: 50px;
        .name {
          padding-left: 120px;
        }
      }
    }
    @include sm() {
      display: none;
    }
    .name {
        position: relative;
      a {
        text-decoration: none;
        color: rgb(46, 46, 46);
      }
      font-weight: 700;
      position: relative;
      padding-left: 40px;
      top: 12px;
    }
  }
  aside{
    &.social-media {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    display: flex;
    height: 100vh;
    width: 40px;
    justify-content: center;
    align-items: center;
    background: #fff;
    @include sm() {
      display: none;
    }
    .media-content {
      li {
        margin: 10px;
      }
    }
    }
    &.menu-aside {
      position: fixed;
      top: 40px;
      left: 0;
      height: 100vh;
      width: 40px;
      background: #fff;
      z-index: 5;
      transition: .2s !important;
      @include sm() {
        display: none;
      }
      .menu-wrapper {
        position: absolute;
        transform: translateY(-40%) rotateZ(180deg);
        cursor: pointer;
        top: 60%;
        left: 0px;
        // background: #000;
        width: 60px;
        height: 40px;
        .text {
          transform: rotateZ(90deg);
          font-size: 10px;
          position: absolute;
          left: -24px;
          font-weight: 800;
          letter-spacing: 2px;
        }
        &:hover {
          .menu {
            div {
              @for $i from 1 to 4 {
                &:nth-child(#{$i}) {
                  width: 40px - ($i * 4);
                }
              }
            }
          }
        }
      }
      .menu {
        position: absolute;
        height: 33px;
        width: 40px;
        padding: 0px 5px;
        background: rgba(8, 7, 7, 0);
        text-align: right;
        div {
          display: block;
          height: 2px;
          background: #000;
          margin: 4px 0px;
          transition: .2s !important;
          @for $i from 1 to 4 {
            &:nth-child(#{$i}) {
              width: 40px - ($i * 8);
            }
          }
        }
      }
    }
    &.navigation {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 80vw;
      background: #fff;
      z-index: 4;
      display: flex;
      align-items: center;
      transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms, left 500ms cubic-bezier(1, 0, 0, 1) 0ms;
      nav {
        margin-left: 130px;
        ul {
          li {
            button.nave-link {
              border: 0px;
              padding: 0px 10px;
              padding-left: 30px;
              min-width: 200px;
              text-align: left;
              margin: 2px;
              font-size: 2rem;
              font-weight: 900;
              outline: none;
              background: transparent;
              position: relative;
              cursor: pointer;
              &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 0%;
                background: rgba(255, 23, 73, 0.308);
                color: #fff;
                transition: .3s;
              }
              &.active {
                &::before {
                  transform: skew(30deg);
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  section.landing {
    height: calc(100vh + 800px);
    @include lg() {
      width: 100%;
    }
    @include sm() {
      width: 100%;
    }
    position: relative;
    @extend .no-select;
    .section-1 {
      display: flex;
      position: sticky;
      height: 100vh;
      width: 100%;
      top: 0px;
      .left {
        background: $primaryColor;
        width: 0%;
        display: flex;
        align-items: center;
        position: relative;
        .left-content {
          max-width: 300px;
          left: 20%;
          position: relative;
          top: -50px;
          opacity: 0;
          animation: leftPartFrom .8s 1 forwards ease-in-out;
          &.about {
            animation: leftPartTo 1s .8s 1 forwards ease-in-out;
          }
          b {
            font-weight: 500;
            font-size: .8rem;
            font-style: italic;
          }
          h2 {
            font-size: 1.7rem;
            font-weight: 800;
            line-height: 1.8;
          }
          p {
            font-size: 1.5rem;
            font-weight: 700;
            color: #ffffff;
            line-height: 1.2;
          }
        }
        .hello {
          font-size: 10rem;
          position: absolute;
          color: rgb(32, 32, 32);
          top: 50%;
          left: calc(100% - 6rem);
          transform: translateY(-50%);
          font-weight: 900;
          opacity: 0;
          @include sm() {
            font-size: 6rem;
            left: calc(100% - 5rem);
          }
        }
      }

      .right {
        background: #f8f8f8;
        width: 0%;
        overflow: hidden;
      }

      .tech-section {
        position: relative;
        overflow: hidden;
        width: 0%;
        opacity: 1;
        .tech-content {
          position: relative;
          opacity: 0;
          top: -50px;
        }
        // animation: hundredToZero .5s 1 forwards ease-in-out;
      }
      .projects-section {
        position: relative;
        opacity: 0;
        width: 0%;
        overflow: hidden;
        background: #fff;
      }
      &.hi {
        .left {
          width: 50%;
          animation: animateWidthHalf 1.6s 1 forwards ease-in-out;
          .hello {
            opacity: 1;
          }
        }
        .right {
          width: 50%
        }
      }
      &.about {
        overflow: hidden;
        .left {
          animation: animateWidthFull 1s 1 forwards ease-in-out;
          @include sm() {
            .left-content {
              left: 10%;
            }
          }
          .hello {
            opacity: 1;
            @include sm() {
              top: 20%;
            }
          }
        }

        .right {
          overflow: hidden;
          width: 0%;
        }
      }
      &.tech {
        overflow: hidden;
        .left {
          animation: hundredToZero 1s 1 forwards ease-in-out;
          @include sm() {
            .left-content {
              opacity: 0%;
            }
          }
          .hello {
            display: none;
            @include sm() {
              top: 20%;
            }
          }
        }
        .right {
          animation: fiftyToZero 1s 1 forwards ease-in-out;
        }
        .tech-section {
          background: #fff;
          // animation: zeroToHundred .3 1s 1 forwards ease-in-out;
          display: flex;
          justify-content: center;
          align-items: center;
          left: 0%;
          opacity: 1;
          width: 100%;
          .tech-content {
            animation: fadeInTop 1s 1s 1 forwards ease-in-out;
            padding: 30px;
            @include lg() {
              padding: 80px;
              max-width: 600px;
            }
            h2 {
              font-size: 2.6rem;
              text-transform: uppercase;
              font-weight: 900;
              color: $primaryColor;
              position: relative;
              width: min-content;
              line-height: 2.6rem;
              &::before {
                position: absolute;
                content: '';
                top: -20px;
                left: 0px;
                padding: 10px;
                // transform: rotateZ(-43deg);
                background: $primaryColor;
                width: 50%;
              }
            }
            h3 {
              font-size: 2rem;
              font-weight: 900;
              margin: 20px 0;
            }
            p {
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.8rem;
              a {
                color: grey;
                text-decoration: none;
                &:hover {
                  color: $primaryColor;
                }
              }
            }
          }
        }
      }
      &.projects {
        .tech-section {
          background: #fff;
          width: 0%;
        }
        .projects-section {
          position: relative;
          top: 40px;
          left: 40px;
          opacity: 1;
          background: #fff;
          overflow-x: hidden;
          min-height: calc(100vh - 40px);
          @include lg() {
            width: calc(100% - 80px);
          }
          .projects-section-content {
            h1 {
              font-size: 2rem;
              font-weight: 900;
              @include lg() {
                padding: 40px;
              }
            }
            width: 100%;
            position: relative;
            .projects-grid {
              position: relative;
              display: grid;
              max-width: 100%;
              grid-template-columns: 1fr 1fr 1fr;
              padding: 10px;
              box-sizing: border-box;
              @include lg() {
                grid-gap: 20px;
              }
              .projects-grid-child {
                position: relative;
                width: 100%;
                img {
                  position: relative;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
@keyframes animateWidthFull {
  from {
    width: 50%;
  } to {
    width: 100%;
  }
}
@keyframes animateWidthHalf {
  from {
    width: 100%;
  } to {
    width: 50%;
  }
}


@keyframes leftPartFrom {
  from {
    top: 0px;
    opacity: 1;
  } to {
    top: -50px;
    opacity: 0;
  }
}

@keyframes leftPartTo {
  from {
    top: -50px;
    opacity: 0;
  } to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes fiftyToZero {
  from {
    opacity: 1;
    width: 50%;
  } to {
    opacity: 0;
    width: 0%;
  }
}

@keyframes zeroToFifty {
  from {
    opacity: 0;
    width: 0%;
  } to {
    opacity: 1;
    width: 50%;
  }
}

@keyframes hundredToZero {
  from {
    opacity: 1;
    width: 100%;
  } to {
    opacity: 0;
    width: 0%;
  }
}
@keyframes zeroToHundred {
  from {
    opacity: 0;
    width: 0%;
  } to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    top: -50px;
  } to {
    opacity: 1;
    top: 0px;
  }
}