/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.tech-section-active, .wrapper section.landing .section-1.tech .tech-section, .wrapper section.landing .section-1.projects .tech-section {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0%;
  opacity: 1;
  width: 100%;
}

.tech-section-active .tech-content, .wrapper section.landing .section-1.tech .tech-section .tech-content, .wrapper section.landing .section-1.projects .tech-section .tech-content {
  -webkit-animation: fadeInTop 1s 1s 1 forwards ease-in-out;
          animation: fadeInTop 1s 1s 1 forwards ease-in-out;
  padding: 30px;
}

@media screen and (min-width: 650px) {
  .tech-section-active .tech-content, .wrapper section.landing .section-1.tech .tech-section .tech-content, .wrapper section.landing .section-1.projects .tech-section .tech-content {
    padding: 80px;
    max-width: 600px;
  }
}

.tech-section-active .tech-content h2, .wrapper section.landing .section-1.tech .tech-section .tech-content h2, .wrapper section.landing .section-1.projects .tech-section .tech-content h2 {
  font-size: 2.6rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #ff5851;
  position: relative;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  line-height: 2.6rem;
}

.tech-section-active .tech-content h2::before, .wrapper section.landing .section-1.tech .tech-section .tech-content h2::before, .wrapper section.landing .section-1.projects .tech-section .tech-content h2::before {
  position: absolute;
  content: '';
  top: -20px;
  left: 0px;
  padding: 10px;
  background: #ff5851;
  width: 50%;
}

.tech-section-active .tech-content h3, .wrapper section.landing .section-1.tech .tech-section .tech-content h3, .wrapper section.landing .section-1.projects .tech-section .tech-content h3 {
  font-size: 2rem;
  font-weight: 900;
  margin: 20px 0;
}

.tech-section-active .tech-content p, .wrapper section.landing .section-1.tech .tech-section .tech-content p, .wrapper section.landing .section-1.projects .tech-section .tech-content p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.tech-section-active .tech-content p a, .wrapper section.landing .section-1.tech .tech-section .tech-content p a, .wrapper section.landing .section-1.projects .tech-section .tech-content p a {
  color: grey;
  text-decoration: none;
}

.tech-section-active .tech-content p a:hover, .wrapper section.landing .section-1.tech .tech-section .tech-content p a:hover, .wrapper section.landing .section-1.projects .tech-section .tech-content p a:hover {
  color: #ff5851;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-transition: .3s linear !important;
  transition: .3s linear !important;
  font-family: 'Roboto', sans-serif !important;
}

body {
  overflow-x: hidden;
}

.no-select, .wrapper section.landing {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  padding-bottom: 0px;
  position: relative;
}

@media screen and (min-width: 650px) {
  .wrapper {
    padding: 0px 40px;
  }
}

.wrapper header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #fff;
  z-index: 5;
  height: 40px;
}

@media screen and (min-width: 650px) {
  .wrapper header.nav-open {
    padding: 50px;
  }
  .wrapper header.nav-open .name {
    padding-left: 120px;
  }
}

@media screen and (max-width: 650px) {
  .wrapper header {
    display: none;
  }
}

.wrapper header .name {
  position: relative;
  font-weight: 700;
  position: relative;
  padding-left: 40px;
  top: 12px;
}

.wrapper header .name a {
  text-decoration: none;
  color: #2e2e2e;
}

.wrapper aside.social-media {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

@media screen and (max-width: 650px) {
  .wrapper aside.social-media {
    display: none;
  }
}

.wrapper aside.social-media .media-content li {
  margin: 10px;
}

.wrapper aside.menu-aside {
  position: fixed;
  top: 40px;
  left: 0;
  height: 100vh;
  width: 40px;
  background: #fff;
  z-index: 5;
  -webkit-transition: .2s !important;
  transition: .2s !important;
}

@media screen and (max-width: 650px) {
  .wrapper aside.menu-aside {
    display: none;
  }
}

.wrapper aside.menu-aside .menu-wrapper {
  position: absolute;
  -webkit-transform: translateY(-40%) rotateZ(180deg);
          transform: translateY(-40%) rotateZ(180deg);
  cursor: pointer;
  top: 60%;
  left: 0px;
  width: 60px;
  height: 40px;
}

.wrapper aside.menu-aside .menu-wrapper .text {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  font-size: 10px;
  position: absolute;
  left: -24px;
  font-weight: 800;
  letter-spacing: 2px;
}

.wrapper aside.menu-aside .menu-wrapper:hover .menu div:nth-child(1) {
  width: 36px;
}

.wrapper aside.menu-aside .menu-wrapper:hover .menu div:nth-child(2) {
  width: 32px;
}

.wrapper aside.menu-aside .menu-wrapper:hover .menu div:nth-child(3) {
  width: 28px;
}

.wrapper aside.menu-aside .menu {
  position: absolute;
  height: 33px;
  width: 40px;
  padding: 0px 5px;
  background: rgba(8, 7, 7, 0);
  text-align: right;
}

.wrapper aside.menu-aside .menu div {
  display: block;
  height: 2px;
  background: #000;
  margin: 4px 0px;
  -webkit-transition: .2s !important;
  transition: .2s !important;
}

.wrapper aside.menu-aside .menu div:nth-child(1) {
  width: 32px;
}

.wrapper aside.menu-aside .menu div:nth-child(2) {
  width: 24px;
}

.wrapper aside.menu-aside .menu div:nth-child(3) {
  width: 16px;
}

.wrapper aside.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80vw;
  background: #fff;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: left 500ms cubic-bezier(1, 0, 0, 1) 0ms, -webkit-transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;
  transition: left 500ms cubic-bezier(1, 0, 0, 1) 0ms, -webkit-transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;
  transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms, left 500ms cubic-bezier(1, 0, 0, 1) 0ms;
  transition: transform 500ms cubic-bezier(1, 0, 0, 1) 0ms, left 500ms cubic-bezier(1, 0, 0, 1) 0ms, -webkit-transform 500ms cubic-bezier(1, 0, 0, 1) 0ms;
}

.wrapper aside.navigation nav {
  margin-left: 130px;
}

.wrapper aside.navigation nav ul li button.nave-link {
  border: 0px;
  padding: 0px 10px;
  padding-left: 30px;
  min-width: 200px;
  text-align: left;
  margin: 2px;
  font-size: 2rem;
  font-weight: 900;
  outline: none;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.wrapper aside.navigation nav ul li button.nave-link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background: rgba(255, 23, 73, 0.308);
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.wrapper aside.navigation nav ul li button.nave-link.active::before {
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
  width: 100%;
}

.wrapper section.landing {
  height: calc(100vh + 800px);
  position: relative;
}

@media screen and (min-width: 650px) {
  .wrapper section.landing {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .wrapper section.landing {
    width: 100%;
  }
}

.wrapper section.landing .section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  width: 100%;
  top: 0px;
}

.wrapper section.landing .section-1 .left {
  background: #ff5851;
  width: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.wrapper section.landing .section-1 .left .left-content {
  max-width: 300px;
  left: 20%;
  position: relative;
  top: -50px;
  opacity: 0;
  -webkit-animation: leftPartFrom .8s 1 forwards ease-in-out;
          animation: leftPartFrom .8s 1 forwards ease-in-out;
}

.wrapper section.landing .section-1 .left .left-content.about {
  -webkit-animation: leftPartTo 1s .8s 1 forwards ease-in-out;
          animation: leftPartTo 1s .8s 1 forwards ease-in-out;
}

.wrapper section.landing .section-1 .left .left-content b {
  font-weight: 500;
  font-size: .8rem;
  font-style: italic;
}

.wrapper section.landing .section-1 .left .left-content h2 {
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 1.8;
}

.wrapper section.landing .section-1 .left .left-content p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.2;
}

.wrapper section.landing .section-1 .left .hello {
  font-size: 10rem;
  position: absolute;
  color: #202020;
  top: 50%;
  left: calc(100% - 6rem);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 900;
  opacity: 0;
}

@media screen and (max-width: 650px) {
  .wrapper section.landing .section-1 .left .hello {
    font-size: 6rem;
    left: calc(100% - 5rem);
  }
}

.wrapper section.landing .section-1 .right {
  background: #f8f8f8;
  width: 0%;
  overflow: hidden;
}

.wrapper section.landing .section-1 .tech-section {
  position: relative;
  overflow: hidden;
  width: 0%;
  opacity: 1;
}

.wrapper section.landing .section-1 .tech-section .tech-content {
  position: relative;
  opacity: 0;
  top: -50px;
}

.wrapper section.landing .section-1 .projects-section {
  position: relative;
  opacity: 0;
  width: 0%;
  overflow: hidden;
  background: #fff;
  height: 100vh;
}

.wrapper section.landing .section-1.hello .left {
  width: 50%;
  -webkit-animation: animateWidthHalf 1.6s 1 forwards ease-in-out;
          animation: animateWidthHalf 1.6s 1 forwards ease-in-out;
}

.wrapper section.landing .section-1.hello .left .hello {
  opacity: 1;
}

.wrapper section.landing .section-1.hello .right {
  width: 50%;
}

.wrapper section.landing .section-1.about {
  overflow: hidden;
}

.wrapper section.landing .section-1.about .left {
  -webkit-animation: animateWidthFull 1s 1 forwards ease-in-out;
          animation: animateWidthFull 1s 1 forwards ease-in-out;
}

@media screen and (max-width: 650px) {
  .wrapper section.landing .section-1.about .left .left-content {
    left: 10%;
  }
}

.wrapper section.landing .section-1.about .left .hello {
  opacity: 1;
}

@media screen and (max-width: 650px) {
  .wrapper section.landing .section-1.about .left .hello {
    top: 20%;
  }
}

.wrapper section.landing .section-1.about .right {
  overflow: hidden;
  width: 0%;
}

.wrapper section.landing .section-1.tech {
  overflow: hidden;
}

.wrapper section.landing .section-1.tech .left {
  -webkit-animation: hundredToZero 1s 1 forwards ease-in-out;
          animation: hundredToZero 1s 1 forwards ease-in-out;
}

@media screen and (max-width: 650px) {
  .wrapper section.landing .section-1.tech .left .left-content {
    opacity: 0%;
  }
}

.wrapper section.landing .section-1.tech .left .hello {
  display: none;
}

@media screen and (max-width: 650px) {
  .wrapper section.landing .section-1.tech .left .hello {
    top: 20%;
  }
}

.wrapper section.landing .section-1.tech .right {
  -webkit-animation: fiftyToZero 1s 1 forwards ease-in-out;
          animation: fiftyToZero 1s 1 forwards ease-in-out;
}

.wrapper section.landing .section-1.projects .tech-section {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-animation: disappear .5s .5s 1 forwards ease-in-out;
          animation: disappear .5s .5s 1 forwards ease-in-out;
  display: none;
}

.wrapper section.landing .section-1.projects .tech-section .tech-content {
  -webkit-animation: fadeOut .5s 1 forwards ease-out;
          animation: fadeOut .5s 1 forwards ease-out;
}

.wrapper section.landing .section-1.projects .projects-section {
  position: relative;
  top: 40px;
  left: 40px;
  opacity: 1;
  background: #fff;
  overflow-x: hidden;
  min-height: calc(100vh - 40px);
}

@media screen and (min-width: 650px) {
  .wrapper section.landing .section-1.projects .projects-section {
    -webkit-animation: zeroToHundred 1s 1s 1 forwards ease-in-out;
            animation: zeroToHundred 1s 1s 1 forwards ease-in-out;
    min-width: calc(100vw - 80px);
    max-width: calc(100vw - 80px);
  }
}

.wrapper section.landing .section-1.projects .projects-section .projects-section-content {
  width: 100%;
  position: relative;
}

.wrapper section.landing .section-1.projects .projects-section .projects-section-content h1 {
  font-size: 2rem;
  font-weight: 900;
}

@media screen and (min-width: 650px) {
  .wrapper section.landing .section-1.projects .projects-section .projects-section-content h1 {
    padding: 40px;
  }
}

.wrapper section.landing .section-1.projects .projects-section .projects-section-content .projects-grid {
  position: relative;
  display: -ms-grid;
  display: grid;
  max-width: 600px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 240px 240px 240px;
      grid-template-rows: 240px 240px 240px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: fadeInTop 1s 1s 1 forwards ease-in-out;
          animation: fadeInTop 1s 1s 1 forwards ease-in-out;
  margin: 0 auto;
}

.wrapper section.landing .section-1.projects .projects-section .projects-section-content .projects-grid .projects-grid-child {
  position: relative;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.wrapper section.landing .section-1.projects .projects-section .projects-section-content .projects-grid .projects-grid-child img {
  position: relative;
  width: 100%;
}

@-webkit-keyframes animateWidthFull {
  from {
    width: 50%;
  }
  to {
    width: 100%;
  }
}

@keyframes animateWidthFull {
  from {
    width: 50%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes animateWidthHalf {
  from {
    width: 100%;
  }
  to {
    width: 50%;
  }
}

@keyframes animateWidthHalf {
  from {
    width: 100%;
  }
  to {
    width: 50%;
  }
}

@-webkit-keyframes leftPartFrom {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: -50px;
    opacity: 0;
  }
}

@keyframes leftPartFrom {
  from {
    top: 0px;
    opacity: 1;
  }
  to {
    top: -50px;
    opacity: 0;
  }
}

@-webkit-keyframes leftPartTo {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes leftPartTo {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes fiftyToZero {
  from {
    opacity: 1;
    width: 50%;
  }
  to {
    opacity: 0;
    width: 0%;
  }
}

@keyframes fiftyToZero {
  from {
    opacity: 1;
    width: 50%;
  }
  to {
    opacity: 0;
    width: 0%;
  }
}

@-webkit-keyframes zeroToFifty {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 50%;
  }
}

@keyframes zeroToFifty {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 50%;
  }
}

@-webkit-keyframes hundredToZero {
  from {
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
  to {
    opacity: 0;
    width: 0%;
    visibility: hidden;
  }
}

@keyframes hundredToZero {
  from {
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
  to {
    opacity: 0;
    width: 0%;
    visibility: hidden;
  }
}

@-webkit-keyframes zeroToHundred {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes zeroToHundred {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@-webkit-keyframes fadeInTop {
  from {
    opacity: 0;
    top: -50px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    top: -50px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes disappear {
  from {
    display: block;
    left: 0px;
  }
  to {
    display: none;
    left: -50%;
  }
}

@keyframes disappear {
  from {
    display: block;
    left: 0px;
  }
  to {
    display: none;
    left: -50%;
  }
}
/*# sourceMappingURL=main.css.map */